body{
	width: 100%;
}
.about-text{
	margin-top: 12vh;
	margin-left: 7vw;
}
.about-tedx{
  margin-top: 16vh;
  margin-left: 3vw;
}

.btn{
	right: 35%;
	left: 40%;
}

header{
	height: 0%;
}
#text1{
  margin-left: 2vw;
  margin-bottom: -1vw;
 width:120vw;
 height:45vh;
}
#n1{
  margin-left: 0.5vw;
  margin-top: 1vw;
  float:left;
  text-align: left;
  
}
#n2{
  margin-right:0.5vw;
  margin-top: 1vw;
   float: right;
  text-align: right;
}
#n3{
  margin-right: 0.5vw;
  margin-top: 5vw;
  text-align: right;
  float: right;
}
#n4{
  margin-left: 0.5vw;
  margin-top: 5vw;
  text-align: left;
  float: left;
}

#bold{
	font-weight: bold;
}
#map{
	margin-right: 2vw;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: black;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}

.hr-light{
  width: 20%;
  align: center;
}